
.action-animate-group,.action-animate-group#exchange path {
    transition: transform .3s ease-in-out;
    transform-origin: center;
}

.action-button:hover .action-animate-group#send {
    transform: translateY(-3px);
}

.action-button:hover .action-animate-group#receive {
    transform: translateY(0px) rotate(180deg);
}

.action-button:hover .action-animate-group#exchange path:nth-child(1) {
    transform: translateX(3px);
}

.action-button:hover .action-animate-group#exchange path:nth-child(2) {
    transform: translateX(-3px);
}