@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("./assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background: #ebeef0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.animate-svg * {
    transform-box: fill-box;
}


::-webkit-scrollbar {
    width: 4px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: lightgrey;
    border-radius: 10px;
}

.bg-fade {
    background-color: rgba(0, 0, 0, 0.5);
}
